.box {
  padding: $m-size;
  justify-content:center;
  //border: 3px solid white;
  width:50rem;
  height:60rem;

}
.box-alt {
  padding: $m-size;
  justify-content:center;
  //border: 3px solid blue;
  width:100rem;
}
.box__title{
  text-align:center;
  color: $off-white;
  >h2 {
    font-size:$l-size;
  }
}
