.box {
  margin: auto;
  padding: $m-size;
  max-width: 70rem;
  //border: 3px solid white;
  justify-content:center;
  background-color: $trans-blue;
  border-radius: 10px;
}

.box-alt {
  @extend .box;
  padding: $m-size;
  overflow-y: scroll;
  height:35rem;
  border-bottom: 2px double $trans-black;
  //border: 3px solid blue;
}

.box__title{
  text-align:center;
  color: $off-white;
  >h2 {
    font-size:$l-size;
  }
}
