.button {
  outline:none;
  background: $blue;
  border: none;
  justify-content: center;
  border-bottom: 5px solid darken($blue, 15%);
  color: white;
  max-height:$xl-size;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  &:hover{
      border-top: 5px solid rgba(0, 0, 0, 0.01);
      border-bottom: 0;
      background-clip: padding-box;
  }
}

.button-disabled {
  @extend .button;
  background: $light-red;
  border-bottom: 5px solid darken($light-red, 15%);
}
