.container {
  display: flex;
  justify-content: center;
  max-width: 150rem;
  //border: 3px solid white;
  margin:auto;
}

.container__title {
  align-self: auto;
  font-size: $l-size;
  font-weight: bolder;
}
.container__subtitle{
  align-self: auto;
  font-size: $m-size;
}

.container__body{
    margin: 0 auto;
    overflow: hidden;
}

.container__footer {

}
