.container {
  //border: 3px solid blue;
  
  @media all and (min-width: $desktop-breakpoint){
    min-height:80vh;
  }
}

.container__title {
  //border: 3px solid white;
  align-self: auto;
  text-align: center;
  color:$off-white;
  font-size: $xm-size;
  font-weight: bolder;
  margin-top: $l-size;
}
.container__subtitle{
  margin-top: $m-size;
  color:$off-white;
  align-content: auto;
  text-align: center;
  font-size: $m-size;
}

.container__body{
    //border: 6px solid white;
    margin:auto;
}

.container__footer {

}
