.container {
  display: flex;
  max-width: 150rem;
  border: 3px solid white;
  margin:auto;
  justify-content: center;
}

.container__title {
  //border: 3px solid white;
  align-self: auto;
  text-align: center;
  color:white;
  font-size: $l-size;
  font-weight: bolder;
  margin-bottom: $s-size;
}
.container__subtitle{
  align-content: auto;
  text-align: center;
  font-size: $m-size;
}

.container__body{
    border: 6px solid white;
    margin:auto;
    overflow: hidden;
}

.container__footer {

}
