.form {
  display:flex;
  margin:auto;
  border-radius: 2rem;
  justify-content: center;
  padding: $s-size $l-size;
  //border: 3px solid blue;
  flex-direction: column;
  > * {
    margin:  $xs-size 0;
    border-radius: $xxs-size;
  }
  @media all and (min-width: $desktop-breakpoint){
    width:50rem;
  }
}
.form-search{
  width:100%;
  @media all and (min-width: $desktop-breakpoint){
    width:60%;
  }
}
.form__title {
  font-size:$m-size;
  text-align: center;
}

.form__input {
  padding:$m-size;
}

.form__text {
  color:white;
  text-align:center;
  font-weight:bold;
  padding:$m-size;
  background-color: $light-red;
  border-bottom: darken($light-red, 10%);
}

.form__subtext {
  border-radius: 5px;
  text-align:center;
  font-weight:bolder;
  padding:$s-size;
  margin: $s-size $s-size 0 $s-size;
  background-color: darken($light-red, 10%);
}
