.list-header {
  background: black;
  //border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
//  border: 3px solid white;
  padding:0;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (min-width: $desktop-breakpoint) {

  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.list-body-small{
  padding: $s-size 0;
  //border: 2px solid yellow;
  margin:auto;
  border-radius: 10px;
  border:0;
  height:23rem;
  justify-content: center;
  align-content: flex-start;
  max-width: 25rem;
  @media all and (min-width: $desktop-breakpoint){
    height:20rem;
  }
}

.list-body-display {
  @extend .list-body-small;
  max-width: 35rem;
  height:auto;
  background-color: darken($trans-black, 10%);
  margin-top:5%;
  //border: 2px solid green;
}

.list-item {
  //border: 2px solid white;
  outline:none;
  margin: $xs-size;
  height: $xl-size;
  width: $xl-size;
  outline:none;
  max-height:100%;
  max-width:100%;
  color: $dark-grey;
  display: inline-flex;
  text-decoration: none;
  transition: .35s ease;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    height: $xxl-size;
    width: $xxl-size;
  }
}

.list-body__message {
  font-size: $m-size;
  font-weight: bolder;
  text-align: center;
  color: $trans-white;
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  color: white;
  font-size: $font-size-small;
}

.list-item__display {
  border-radius:100%;
  background-color: $off-white;
  outline:none;
  max-height:100%;
  max-width:100%;
}

.list-item__data {
  border: 3px solid black;
  border-radius:100%;
}
.list-item__data-selected {
  //opacity: 0.5;
  border: 3px solid darken(red, 10%);
}

.list-item__data-chosen{
  height: $l-size;
  width: $l-size;
}

.list-item__data-hover {
  &:hover {
    cursor:pointer;
    opacity: 0.5;
  }
}
