.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  // border: 3px solid red;
  padding:0;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;

  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.list-body-small{
  padding: $s-size 0;
  border: 2px solid blue;
  box-shadow: 0 0 2.5rem 2rem $trans-black;
  border-radius: 10px;
  height:27rem;
  border:0;
    margin: 0 10rem;
  margin-bottom: $l-size;
  justify-content: center;
  align-content: flex-start;
  width: 43rem;
}

.list-body-display {

  @extend .list-body-small;
  //border: 2px solid green;
}

.list-item {
  //border: 2px solid white;
  outline:none;
  margin: $xs-size;
  height: $xxl-size;
  width: $xxl-size;
  outline:none;
  max-height:100%;
  max-width:100%;
  color: $dark-grey;
  display: inline-flex;
  text-decoration: none;
  transition: background .3s ease;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.list-body__message {
  max-width:35rem;
  z-index:-1;
  position:absolute;
  font-size: $xl-size;
  text-align: center;
  align-items: center;
  color: $trans-white;
  justify-content: center;
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  color: white;
  font-size: $font-size-small;
}

.list-item__display {
  border: 2px solid black;
  border-radius:100%;
  outline:none;
  max-height:100%;
  max-width:100%;
}


.list-item__data-chosen {

}

.list-item__data-hover {
  &:hover {
    opacity: 0.5;
    border-bottom: 2px solid darken($blue, 10%);
    border-radius:100%;
  }
}
