* {
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css?family=Domine');
  font-family: Domine;
}

html {
  font-size: 62.5%;
  background: url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ezreal_7.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

body {
  color: $off-white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}


@media all and (min-width:$desktop-breakpoint ){
  .aside-1 {
    order: 1;
  }
  .wrapper-main{
    order:2;
  }
  .aside-2{
    order:3;
  }
  .footer{
    order:4;
  }
}
